.members {
    background-color: #f8f8f8;
    padding-top: 45px;
    padding-bottom: 55px;
}

.members h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.members h2::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* ★ 画像を縦3行にするために display:flex を消す */
.member-list {
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

/* ★ li の中身は横並び（画像｜文章） */
.member-list li {
    display: flex;
    gap:10px;
    align-items: flex-start;
    margin-bottom: 40px; /* ← 縦3行の間隔 */
}

.member-list li img {
    width: 100%;
    max-width: 500px;
    height:auto;
    display:block;
    margin: 0 auto;
    flex-shrink: 0;
}

.member-list li .text-box {
    width: 1000px;
}

@media (max-width: 800px) {
    .member-list {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.member-list li .text-box dt {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.member-list li .text-box dd {
    font-size: 30px;
    line-height: 2;
}
.member-list li .text-box .speciality {
    font-size: 30px;
    line-height: 1.8;
}
